[submodule "shell"]
	path = shell
	branch = master
	update = rebase
	url = https://github.com/h35514n/shell.git
[submodule "config/vim"]
	path = config/vim
	branch = master
	update = rebase
	url = https://github.com/h35514n/vim.git
[submodule "config/emacs"]
	path = config/emacs
	branch = master
	update = rebase
	url = https://github.com/h35514n/emacs.git
[submodule "codespaces"]
	path = codespaces
	branch = master
	update = rebase
	url = https://github.com/h35514n/codespaces.git
[submodule "share/vim/vim-plug"]
	path = share/vim/vim-plug
	url = https://github.com/junegunn/vim-plug.git
	branch = master
	update = rebase
