[submodule "shell"]
	path = shell
	branch = master
	update = rebase
	url = https://github.com/h35514n/shell.git
[submodule "vim"]
	path = vim
	branch = master
	update = rebase
	url = https://github.com/h35514n/vim.git
[submodule "emacs"]
	path = emacs
	branch = master
	update = rebase
	url = https://github.com/h35514n/emacs.git
